body{
    padding: 0;
    margin: 0;
    background-color: #212121;

}
*{
    box-sizing: border-box;
}

.home-menu{
    display: grid;
    grid-template-areas:
    "home-sidebar Homebody";
    grid-template-columns: 1fr 3fr;
    height: 100vh;
  
}
.home-sidebar {
    grid-area: home-sidebar;
    padding: 0px;
  }
  
.Homebody {
    grid-area: Homebody;
    padding: 20px;
    overflow-y: auto; /*sirve para el scroll*/
  }

/*header*/
.topbar{
   background-color: #2e2e2e;
   margin-bottom: 20px;
   padding: 20px;
   border-radius: 10px;
}
.topbar ul{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    list-style-type: none;
}
.topbar a {
    text-decoration: none;
    color: white;
}

/*cuerpo tarjetas/Post*/

.content{
    display: grid;
    grid-template-areas:
    "contenedor ";
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.content li{
    list-style-type: none;
}
.contenedor{
    grid-area: Homebody;
    width: 440px;
    background-color: #2e2e2e;
    border-radius: 10px;
    padding: 10px;
    border-bottom: 1px solid snow;
    cursor: pointer;
    
}
.contenedor h3{
    color: rgb(241, 196, 255);
    font-size: 25px;
    font-family:cursive;
}
.post-description{
    color: antiquewhite;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-left, .btn-right{color: rgb(241, 196, 255);}
.btn-right{
    float: right;
}
.contenedor:hover{
    background-color: #454545;
}
