.Profile-main{
    background-color: #212121;
    display: flex;
    gap: 20px;
    height: 100vh;
}
.content-menu-two{
    flex: 0.2;
    overflow-y: auto;
}
.Profilebody{
    display: flex;
    flex: 2;
    justify-content: center;
    padding: 20px;
    background-color: #212121;
    overflow-y: auto;
}
/*header*/
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: #212121;
}
.profile-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 0.2px solid white;
}

.profile-user-name {
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
}

.textoBtnEdit, .btn-settings {
    padding: 5px 10px;
    font-size: 0.9rem;
    background: linear-gradient(to right, #f75c41 1%, #FF416C 100%);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
.textoBtnEdit:hover, .btn-settings:hover {
    background: linear-gradient(to right, #ad1c3e 1%, #c43e26 100%);
    transform: scale(1.05); 
}

.profile-bio {
    margin-top: 10px;
    line-height: 1.4;
    color: white;
}
.profile-bio span {
    font-size: 1rem;

}
.profile-stats li {
    list-style: none;
    font-size: 1rem;
    color: white;

}
/*POST*/
.user-posts{
    display: flex;
    flex: 2;
    justify-content: center;
    padding: 20px;
    background-color: #212121;
    overflow-y: auto;
}
.barra{
    margin: 0;
    border: 1px solid rgb(72, 72, 72);
}
.postcomplete{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    gap: 10px;
}
.list-name-two {list-style-type: none;margin-bottom: 15px;}
.contenedor-two {
    background-color: #212121;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
  }
  .contenedor-two:hover{
    background-color: #c9c9c9;
    transition: all 1s ease-out;
  }
  .post-title-two {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  .post-description-two {
    font-family: monospace;
    width: 40ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #888;
    margin: 10px 0;
  }
  .btn-figure-two {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #d9d9d9;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .user-posts{
        justify-content: none;
        align-items: baseline;
    }
    .postcomplete {grid-template-columns: 1fr; padding: 10px;}
    .contenedor-two{width: 380px;overflow: hidden;}}

  @media (max-width: 500px) {
    .Profile-main{
        display: block;
    }
    .contenedor-two{
        width: 300px;
    }
   
}
  @media (max-width: 340px) {
    .contenedor-two{width: 200px;}}