body {
    margin: 0; /* Elimina el margen del body */
    padding: 0; /* Elimina el padding del body */
  }
#sidebar-container {
    background-color: #292929;
    position: fixed;
    height: 100vh; /* Para ocupar toda la altura de la pantalla */
    width: 250px; /* Ajusta el ancho según tu diseño */
    padding: 0;
    margin: 0;
    overflow-y: auto; /* Para añadir scroll en caso de que el contenido exceda el alto */
    z-index: 1000;
}
#sidebar-container ul {
    max-height: 100%;
    list-style-type: none;   
}
.sidebar-expanded {
    width: 230px;
}

.list-group-item a {
    height: 50px;
}
.sidebar-separator {
    height: 25px;
}
.sidebar-separator hr {
    border: none;
    background-color: rgb(95, 93, 93);
    height: 2px; 
}
.list-group {
    padding: 0px;
}
.list-group-two {
    padding: 0px;
}
.Title{
    color: rgb(95, 93, 93);
    padding: 20px;
}
.list-group a {
    color:  rgb(95, 93, 93);
    text-decoration: none;
}
.list-group-two a {
    color:  rgb(95, 93, 93);
    text-decoration: none;
}
.d-flex{
    padding: 10px;
}
.d-flex-two{
    display: flex;
    padding: 10px;
}
.menu-collapsed{
    font-size: 15px;
}
#collapse-icon{
    font-size: 15px;
    margin-right: 10px;
}
ul.list-group-two {
    position: absolute;
    bottom: 0;
}
