body{
    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
}
.home-sidebar {
    background-color: #171717;
    height: 100vh;  
    width:  260px;
    padding: 20px 0px 20px 20px;
    position: fixed;
    z-index: 1000;
}
.separator{border-color: #383737;}
.home-sidebar ul {
    margin: 0;
    padding: 0;
}
.list-group li {
    list-style-type: none;
}
#list-side a{
    text-decoration: none;
}
.d-flex{
    padding: 10px;
}
.d-flex:hover{
    width: 90%;
    border-radius: 10px;
    border-bottom: 1px solid white;
    background-color: #383737;
}

.Title{
    display: flex;
    justify-content: center;
    color:  #E5E5E5;
    padding: 10px;
    font-size: 15px;
}
.list-group a{
    color: #E5E5E5;
}
.menu-collapsed{
    margin-left: 10px;
}
#collapse-icon, #collapse-text{
    font-size: 20px;
}


/*responsive*/
@media (max-width: 1135px) {
    .home-sidebar {
        width:  70px;
        padding: 20px 0px 20px 10px;
    }
    #collapse-text{
        display: none;
    }
    .d-flex:hover{
        width: 75%;
    
    }
    .Title{
        display: none;
    }
}
@media (max-width: 500px) {
    .home-sidebar {
        position: relative; 
        width: 100%; 
        height: 60px; 
        top: 0; 
        left: 0;
        padding: 10px; 
        z-index: 999; 
    }
    .list-group {
        display: flex; 
        justify-content: space-around; 
        padding-left: 0;
        margin: 0;
    }
    .d-flex:hover {
        width: auto;
        border-radius: 10px;
        background-color: #383737;
    }

   
}